<ul>
 <li>Event: <%= inspect @event %></li>
 <ul>
 <%= for {trigger, children} <- Map.get(@childMap, CloudEvent.child_context_tuple(@event)) do %>
  <li>Trigger: <%= inspect trigger %></li>
    <%= for childEid <- children do %>
    <%= render("event_detail.html",
        event: Map.get(@eventCache, childEid), eventCache: @eventCache, childMap: @childMap) %>
    <% end %>
 <% end %>
 </ul>
</ul>
