<section class="row">
  <h1>Events of type <%= @type %></h1>
</section>

<section class="row">
<ul>
  <%= for event = {type, source, id} <- @events do %>
    <li><a href="/event?type=<%= type %>&source=<%= source %>&id=<%= id %>"><%= inspect event %></a></li>
  <% end %>
</ul>
</section>
